* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

body {
  font-family: "Times New Roman", Times, serif;
  font-size: 12pt;
  width: 100%;
  background-color: black;
  height: 100%;
  background-size: cover;
  background-image: url("./img/logo.jpeg");
}
