* {
  margin: 0 auto;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

body {
  background-image: url("./img/logo.png");
  background-position: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 12pt;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  display: block;
}
